github "audiokit/AudioKit"
github "benzguo/MusicKit"
github "dekatotoro/SlideMenuControllerSwift"
github "emaloney/CleanroomLogger"
github "hyperoslo/Pages"
github "Khan/SwiftTweaks"
github "MortimerGoro/MGSwipeTableCell"
github "moritzsternemann/SwipyCell"
github "radex/SwiftyTimer"
github "tadija/AEXML"
github "TeamAllegro/Rational" "btc/0003"
github "zekunyan/TTGSnackbar"
