github "audiokit/AudioKit"
github "benzguo/MusicKit"
github "dekatotoro/SlideMenuControllerSwift"
github "emaloney/CleanroomLogger" ~> 5.0.0
github "hyperoslo/Pages" ~> 1.0.0
github "Khan/SwiftTweaks" "v2.0-beta.1"
github "MortimerGoro/MGSwipeTableCell"
github "moritzsternemann/SwipyCell"
github "radex/SwiftyTimer"
github "tadija/AEXML"
github "TeamAllegro/Rational" "52607645202190e6b0d093c406f7f5a6e65eb5b4"
github "zekunyan/TTGSnackbar"
